<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Your Joke</title>
</head>
<body>
    <div class="container">
        <h1>Here's a joke for you, <%= firstName %> <%= lastName %>!</h1>
        <p><%= joke %></p>

        <a href="/">Get Another Joke</a>
    </div>
</body>
</html>